* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, hsl(117, 71%, 38%), hsl(117, 40%, 30%));
    color: #121212;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    transition: all 0.3s ease-in-out;
}

.game {
    height: 450px;
    width: 450px;
    background-color: #ffffff20;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.game:hover {
    transform: scale(1.05);
}

.board {
    height: 100%;
    width: 100%;
}

.row {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
}
.row > div {
    height: 100%;
    width: calc(100% / 3);
    border: 2px solid #f3efef;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.row > div:hover {
    background-color: #ffffff30;
    transform: scale(1.1);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    color: #fff;
    user-select: none;
    transition: color 0.3s ease;
}
.cell:hover {
    color: #ffeb3b;
}

#scoreboard {
    height: 100px;
    width: 500px;
    display: flex;
    padding: 1vw 2vw;
    background-color: #ffffff20;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#scoreboard div {
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease;
}
#scoreboard div:hover {
    transform: scale(1.1);
}

#scoreboard h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

#scoreboard .count {
    font-weight: 400;
    color: #ffffffc7;
}

.new .new-btn, .reset .reset-btn {
    margin-top: 20px;
    padding: 0.5vw 2vw;
    border: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #ffeb3b;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.new .new-btn:hover, .reset .reset-btn:hover {
    background-color: #fdd835;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    #main {
        gap: 4vh;
    }
    .game {
        height: 330px;
        width: 330px;
    }
    .cell {
        font-size: 5rem;
        font-weight: 500;
    }
    #scoreboard {
        height: 100px;
        width: 350px;
    }
    .new .new-btn, .reset .reset-btn {
        padding: 2vw 6vw;
        font-size: 1rem;
    }
}
